[Desktop Entry]
Name=Śaq
GenericName=Audio Effects
Exec=/usr/bin/saq
TryExec=/usr/bin/saq
Icon=com.epestr.saq
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;
Keywords=audio;effects;pipewire;spatial;surround;
StartupWMClass=saq

X-Desktop-File-Install-Version=0.28
